html, body{
    height: 100%;
	background:#000;
	margin:0px;
}


 #page-content{width:100%;
               height:100%;
              position:relative;
			  /*overflow:hidden;*/
			  color:white;
			  margin:0px;}
.wrapper {
	margin: 0px;
	padding: 0 10px;
	width: 99%;
	position: relative;
}
.section{
    white-space:pre-wrap;
    background:url("images/girl-reading-book.jpg") no-repeat center ;
	//opacity:.5;
	background-size:cover;
    height:100%;
    width:100%;
	margin:auto;
	
   
   }
#arrow{position:absolute;bottom:10%;left:30%}
h1{
    text-align:center;
   	background:red;
	margin:auto;
	padding:auto;
	width: 200px;
    height: 50px; 
    color:white;
    border:1px solid black;
	}
h1 img{
	width: 40px;
  height: 35px;
  padding:10px 5px 0px ;
}
div #back{
    background-color:lightblue;
	}

	.size img{
		width: 200px;
		height:30px;
	}
.arrow-circle{
   
     display:block;
     height:55px;
	 width:55px;
	 line-height:50px;
	 border-radius:50px;
	 background-color:black;
	 background-color:rgba(0,0,0,0.4);
	 font-size:2em;
	 position:absolute;
	 margin:auto;
	 left:0;right:0;bottom:5.5%;
	 }
.section2{
    /*white-space:pre-wrap;
    background:url("images/eboy.png");*/
	background:#262626;
	background-size:cover;
    height:100%;
    width:100%;
	margin:auto;
	
	}
div.xbox
  {
  
  width:40%;
  height:40%;
  margin:30px 50px;
  position:absolute;
  top:18%;
  left:8%;
  background-color:#000000;
  border:1px solid black;
  opacity:0.7;
  }
 .tex{
    color:white;
	font-family:"Open Sans", Arial, Helvetica, Verdana, Tahoma, sans-serif;
	font-size:43px;
	font-weight:600;
	line-height:1.1;
	letter-spacing:2px;
	text-align:center;
	padding:15px}
.section2 #arrow2{position:relative;padding-bottom:50px;left:49%}
.section3{
    /*white-space:pre-wrap;*/
    background:url("images/classroom.jpg") no-repeat center fixed;
    background-size:cover;
    height:100%;
    width:100%;
	margin:0px;
  }
  
 img{
  	padding: 80px 10px 0px 0px;
  }
  .siz img{
  	width: 200px;
  	height: 350px;
  }
#new
{
	font-size: 38px;
	text-align: center;
	font-weight:600;
	color: white;
	padding-top: 80px ;
}
  .myButton {
	
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	left:50%
}
.myButton:hover {
     box-shadow:0px;
	 background:transparent;
	background-color:transparent;
	border-radius:0px;
	color:red;
}

* {
    margin: 0;
    padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}

	

	ul {
		margin:0p 0px 0px 0px;
		float: left;
	}

	li {
		list-style: none;
		position: relative;
		display: inline-block;
		float:left;
		width: 90px;
		padding-bottom:90px;
		margin: 5px;
	}

	@-moz-keyframes rotate {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-360deg);}
	}

	@-webkit-keyframes rotate {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-360deg);}
	}

	@keyframes rotate {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-360deg);}
	}

	.round {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding-top: 30px;		
		text-decoration: none;		
		text-align: center;
		font-size: 20px;		
		text-shadow: 0 1px 0 rgba(255,255,255,.7);
		letter-spacing: -.065em;
		font-family: "Hammersmith One", sans-serif;		
		-webkit-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		box-shadow: 2px 2px 7px rgba(0,0,0,.2);
		border-radius: 300px;
		z-index: 1;
		border-width: 4px;
		border-style: solid;
	}

	.round:hover {
		width: 130%;
		height: 130%;
		left: -15%;
		top: -15%;
		font-size: 33px;
		padding-top: 38px;
		-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		-o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		-moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		z-index: 2;
		border-size: 10px;
		-webkit-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}

	a.red {
		background-color: rgba(239,57,50,1);
		color: rgba(133,32,28,1);
		border-color: rgba(133,32,28,.2);
	}

	a.red:hover {
		color: rgba(239,57,50,1);
	}

	a.green {
		background-color: rgba(1,151,171,1);
		color: rgba(0,63,71,1);
		border-color: rgba(0,63,71,.2);
	}

	a.green:hover {
		color: rgba(1,151,171,1);
	}

	a.yellow {
		background-color: rgba(252,227,1,1);
		color: rgba(153,38,0,1);
		border-color: rgba(153,38,0,.2);
	}

	a.yellow:hover {
		color: rgba(252,227,1,1);
	}
     
	a.voilet{
	  background-color:rgba(136, 0, 204,1);
	  color:rgba(187, 51, 255);
	  border-color:rgba(187, 51, 255,.2);
	  }
	  a:voilet:hover{
	   color:rgba(136, 0, 204,1);
	   }
	.round span.round {
		display: block;
		opacity: 0;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
		font-size: 1px;
		border: none;
		padding: 40% 20% 0 20%;
		color: #fff;
	}

	.round span:hover {
		opacity: .85;
		font-size: 16px;
		-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
		-moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
		-o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
		text-shadow: 0 1px 1px rgba(0,0,0,.5);	
	}

	.green span {
		background: rgba(0,63,71,.7);		
	}

	.red span {
		background: rgba(133,32,28,.7);		
	}

	.yellow span {
		background: rgba(161,145,0,.7);	

	}

	footer {
   position:absolute;
   display:inline-block;
   bottom:0;
   width:100%;
   height:120px; 
   background:#262626;
   clear: both;
}

